<div class="state">
   <div class="search">
    <ion-icon name="search-circle"></ion-icon>
    <input type="text" class="searchBar" placeholder="search amis">
   </div>
   <p class="title">Contacts</p>

   <div class="amis">
    <div class="amie">
        <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
        <p class="username">yassine malhaoui</p>
        <p class="user-state">online <span class="online"></span></p>
    </div>
    <div class="amie">
        <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
        <p class="username">yassine malhaoui</p>
        <p class="user-state">online <span class="offline"></span></p>
    </div>
    <div class="amie">
        <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
        <p class="username">yassine malhaoui</p>
        <p class="user-state">online <span  class="online"></span></p>
    </div>
    <div class="amie">
        <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
        <p class="username">yassine malhaoui</p>
        <p class="user-state" >online <span  class="online"></span></p>
    </div>
    <div class="amie">
        <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
        <p class="username">yassine malhaoui</p>
        <p class="user-state" >online <span  class="online"></span></p>
    </div>
    <div class="amie">
        <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
        <p class="username">yassine malhaoui</p>
        <p class="user-state" >online <span  class="online"></span></p>
    </div>
    
   </div>
</div>