<div class="state" cdkDrag>
   <div class="search">
    <ion-icon name="search-circle"></ion-icon>
    <input type="text" class="searchBar" placeholder="search amis">
   </div>
   <p class="title">Contacts</p>

   <div class="amis">
    <div class="amie">
             <div >
        <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
        <p class="username">salah-eddine</p>
        <p class="user-state">online <span class="online"></span></p>
    
             </div>
    </div>
    <div class="amie">
      <div >
 <img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
 <p class="username">salah-eddine</p>
 <p class="user-state">online <span class="online"></span></p>

      </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
<div class="amie">
   <div >
<img src="../../../assets/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" width="40px" height="40px" alt="">
<p class="username">salah-eddine</p>
<p class="user-state">online <span class="online"></span></p>

   </div>
</div>
      <h3 *ngIf="friends.length == 0">Aucune Contact online</h3>
   </div>
</div>