<div>
  <ion-icon name="close-circle-outline" mat-dialog-close></ion-icon>

<mat-dialog-content>
  <div class="info">
  <mat-form-field appearance="fill">
    <mat-label>Enter Current Password </mat-label>
    <input  matInput placeholder="EX. FreePalestine@123" [(ngModel)]="req.oldPassword">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter New Password </mat-label>
    <input  matInput placeholder="EX. FreePalestine147_5"  [(ngModel)]="req.newPassword">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="setPassword()">update</button>

</div>
  <div class="success" *ngIf="message != '' ">  {{message}} </div>
  <div class="error" *ngIf="error != '' ">  {{error}} </div>

</mat-dialog-content>

</div>