<div class="boite-notification" appStopPropagationDirective>
  <div class="notif" >
   <p class="image">
     <img src="../../../assets/AdobeStock_389328016_Editorial_Use_Only.webp" width="50px" height="50px" alt="">
     <i class="fa-solid fa-users-line"></i>
   </p>
    <p class="username h5">Palestine Groupe <span>hello salah-eddine how are you  duhdujn you ..</span> </p>
    <ion-icon name="ellipsis-horizontal-outline" [matMenuTriggerFor]="menueUser"></ion-icon>
    <mat-menu #menueUser="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>display notification</span>
      </button>
      
      <button mat-menu-item >
        <mat-icon>delete</mat-icon>
        <span>delete notification</span>
      </button>
    
    </mat-menu>
  </div>
  <div class="notif" >
   <p class="image">
     <img src="../../../assets/AdobeStock_389328016_Editorial_Use_Only.webp" width="50px" height="50px" alt="">
     <i class="fa-solid fa-file text-primary"></i>
   </p>
    <p class="username h5">Palestine Groupe <span>hello salah-eddine how are you  duhdujn you ..</span> </p>
    <ion-icon name="ellipsis-horizontal-outline" [matMenuTriggerFor]="menueUser" ></ion-icon>
    <mat-menu #menueUser="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>display notification</span>
      </button>
      
      <button mat-menu-item >
        <mat-icon>delete</mat-icon>
        <span>delete notification</span>
      </button>
    
    </mat-menu>
  </div>
  <div class="notif" >
   <p class="image">
     <img src="../../../assets/AdobeStock_389328016_Editorial_Use_Only.webp" width="50px" height="50px" alt="">
     <i class="fa-solid fa-cake-candles text-success"></i>
   </p>
    <p class="username h5">Palestine Groupe <span>hello salah-eddine how are you  duhdujn you ..</span> </p>
    <ion-icon name="ellipsis-horizontal-outline" [matMenuTriggerFor]="menueUser" ></ion-icon>
    <mat-menu #menueUser="matMenu">
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>display notification</span>
      </button>
      
      <button mat-menu-item >
        <mat-icon>delete</mat-icon>
        <span>delete notification</span>
      </button>
    
    </mat-menu>
  </div>
 </div>
