* {
    padding: 0px;
    margin: 0px;
}

.operations {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.operations li {
    background-color: black;
    color: white;
    flex-grow: 1;
    height: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(0, 0, 0);

}

.operations li:hover a {
    background-color: white;
    color: black !important; 
}
.operations li  a {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: white;
}
.active {
    background-color: white;
    color: black !important;
}




