
<!-- for the users  are connected-->
<div class="context " *ngIf="connectService.userConnected()">
    <div class="logo">
        <i class="fa-solid fa-leaf" style="color: #26a269;"></i>
    </div>

    <ul>
        <li>
                <app-home-icon></app-home-icon>
        </li>
        <li *ngIf="connectService.userConnected()">
         <app-friend-icon></app-friend-icon>
        </li>
        <li *ngIf="connectService.userConnected()">
                <app-message-icon></app-message-icon>
             
        </li>
            
                <app-notif-icon></app-notif-icon>
           <li *ngIf="connectService.userConnected()">
              <app-groups-icon></app-groups-icon>
          
          </li>

    </ul>
    <div class="button" *ngIf="!connectService.userConnected()">
      <button>login</button>
      <button>register</button>
    </div>
    <app-profile-state></app-profile-state>

</div>


<!--for the users who dont logged in yet-->
<div class="context2"  *ngIf="!connectService.userConnected()">
  <div class="logo">
    <i class="fa-solid fa-leaf" style="color: #26a269;"></i>
</div>

<ul>
    <li>
            <button mat-button routerLink="/home" routerLinkActive="active">
            <mat-icon>home</mat-icon>  
            </button>
    </li>
   

</ul>
<div class="buttons">
  <button mat-raised-button color="light"  routerLink="/register" routerLinkActive="active">
    register
    </button>
    <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">
      login
      </button>
</div>
</div>