*{
    padding: 0px;
    margin: 0px;
    color: black;
}


.context {
   
    display:  flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 0px 20px;
}


.context .logo {
    font-size: 35px;
    flex-grow: 0.2;
}


.context ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    flex-grow: 0.6;
    height: 100%;
}

.context ul li {
    display: flex;
    flex-grow: 1;
    height: 100%;
  
}
.context ul li button {
    display: flex;
    flex-grow: 0.5;
    justify-content: center;
    height: 100%;
    align-items: center;
  background: gray;
}
.context ul li button mat-icon {
    font-size: 30px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    align-items: center;


}





.active {
    background-color: rgb(226, 217, 217);
}



.context2 {
    
    display:  flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 0px 20px;
}


.context2 .logo {
    font-size: 35px;
    
}


.context2 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100%;
    position: relative;
    left: 93px;
}

.context2 ul li {
    display: flex;
    flex-grow: 1;
    height: 100%;
    border-radius: 100%;

}
.context2 ul li button {
    display: flex;
    flex-grow: 0.7;
    justify-content: center;
    height: 100%;
    align-items: center;
    border-radius: 100%;


}
.context2 ul li button mat-icon {
    font-size: 30px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
    left: 3px;


}

.context2 .buttons {
        position: relative;
        left: 70px;

}

.context2 .buttons button {
    width: 100px;
    margin: 0px 5px;
}






  .image {
    padding-right: 16px
  }







.context ul   app-notif-icon {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.context ul   app-message-icon{
  display: flex;
  flex-grow: 1;
  height: 100%;
}
.context ul   app-friend-icon{
  display: flex;
  flex-grow: 1;
  height: 100%;
}
.context ul   app-home-icon{
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  .context ul   app-groups-icon{
    display: flex;
    flex-grow: 1;
    height: 100%;
  }