<div class="bord-details">
  <div class="profile">
    <img src="../../../assets/rami-al-zayat-w33-zg-dNL4-unsplash.jpg" width="50px" height="50px" alt=""> 
    <p class="username">ramdani salah-eddine</p>
  </div>
  <div class="categorie">
    <button mat-button class="friends choice" ><i class="fa-solid fa-user-group"></i><span>Friends</span></button>
    <button mat-button class="pages choice"><i class="fa-solid fa-file"></i><span>Pages</span></button>
    <button mat-button class="groupes choice"><i class="fa-solid fa-users-line"></i><span>Groupes</span></button>
    <button mat-button class="Birthay choice"><i class="fa-solid fa-cake-candles"></i><span>Birthay</span></button>
  </div>

</div>
