<div class="body">
  <div class="details">
    <mat-tab-group>
      <mat-tab label="Basic Infos" class="tab">
        <div class="categorie">
          <div class="bio "><p class="h5">Bio/Description</p> <p >i'm salah-eddine software engineer at oracle   .</p></div>
          <hr>
          <div class="tag"><ion-icon name="home-outline"></ion-icon><span>lives in oujda</span></div>  
        <div class="tag"><ion-icon name="person-circle-outline"></ion-icon><span>ramdani salah-eddine</span></div>  
        <div class="tag"><ion-icon name="mail-outline"></ion-icon><span>ramdanisalah67@gmail.com</span></div>  
        <div class="tag"><ion-icon name="call-outline"></ion-icon><span>0650886820</span></div> 
        </div> 

      </mat-tab>
      <mat-tab label="Personnal Info"> 
        <div class="categorie">
        <p class="personnal-info-title h5">Personal Info</p>
        <div class="p-info"><p class="h6">Date of Birth</p><span>0650886820</span></div>  
        <div class="p-info"><p class="h6">Gender</p><span>ramdanisalah67@gmail.com</span></div>  
        <div class="p-info"><p class="h6">Relationship Status</p><span>Celibataire</span></div>  
        <div class="p-info"><p class="h6">Languages Spoken</p><span>Arabic-Frensh-English</span></div>  

      </div>
         </mat-tab>
      <mat-tab label="Proffesional Info">
        <div class="categorie">
          <p class="personnal-info-title h5">Professional Info</p>
          <div class="p-info"><p class="h6">Current Job Title</p><span>Java Developer</span></div>  
          <div class="p-info"><p class="h6">Company/Organization</p><span>Oracle</span></div>  
          <div class="p-info"><p class="h6">Work Experience</p><span>EHEI</span></div>  
          <div class="p-info"><p class="h6">Education</p><span>Software Enginer</span></div>
          <div class="p-info"><p class="h6">LinkedIn Profile</p><span>Software Enginer</span></div>  

  
        </div> </mat-tab>

    </mat-tab-group>
    
  </div>
  <div class="context">
    <div class="image-profile">
      <img src="../../../assets/AdobeStock_389328016_Editorial_Use_Only.webp" alt="">
    </div>
    <div class="info">
    <div class="username">
      <p class="h5">ramdani salah-eddine</p>
      <p class="h6 text-secondary">450 friends</p>
    </div>
    <div class="edit-profile">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    </div>
    <div class="create-post">
        <img src="../../../assets/AdobeStock_389328016_Editorial_Use_Only.webp" alt="">
        <input type="text" placeholder="type something here ..">
        <div class="buttons">
          <button mat-flat-button color="primary">Create Post</button>
          <ion-icon name="image-outline"></ion-icon>
        </div>
      </div>

    <div class="posts">
          <div class="post">
                <div class="cadre">
                  <div class="username">
                    <img src="../../../assets/AdobeStock_389328016_Editorial_Use_Only.webp" alt="">
                    <p>ramdani salah-eddine <span>25min</span></p>
                  </div>
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <ion-icon name="arrow-down-circle-outline"></ion-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/showProfile">
                      <mat-icon>edit</mat-icon>
                      <span>Edit Post</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>delete</mat-icon>
                      <span>delete Post</span>
                    </button>
                  </mat-menu>
                </div>
            <p class="text">hello welcome salah-eddine how are you i'm fine ...</p>
            <img src="../../../assets/illustration-concept-poignee-main-amicale_114360-6724.jpg" alt="">
            <div class="buttons">
              <button mat-icon-button  aria-label="Example icon-button with a menu">
                <ion-icon name="heart-outline" class="heart"></ion-icon>            
              </button>
              <button mat-icon-button  aria-label="Example icon-button with a menu">
                <mat-icon>comment</mat-icon>
              </button>
              <button mat-icon-button  aria-label="Example icon-button with a menu">
                <mat-icon>share</mat-icon>
              </button>
            </div>
          </div>
          <div class="post">
            <div class="cadre">
              <div class="username">
                <img src="../../../assets/AdobeStock_389328016_Editorial_Use_Only.webp" alt="">
                <p>ramdani salah-eddine <span>25min</span></p>
              </div>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <ion-icon name="arrow-down-circle-outline"></ion-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/showProfile">
                  <mat-icon>edit</mat-icon>
                  <span>Edit Post</span>
                </button>
                <button mat-menu-item >
                  <mat-icon>delete</mat-icon>
                  <span>delete Post</span>
                </button>
              </mat-menu>
            </div>
        <p class="text">hello welcome salah-eddine how are you i'm fine ...</p>
        <img src="../../../assets/rami-al-zayat-w33-zg-dNL4-unsplash.jpg" alt="">
        <div class="buttons">
          <button mat-icon-button  aria-label="Example icon-button with a menu">
            <ion-icon name="heart-outline"></ion-icon>            
          </button>
          <button mat-icon-button  aria-label="Example icon-button with a menu">
            <mat-icon>comment</mat-icon>
          </button>
          <button mat-icon-button  aria-label="Example icon-button with a menu">
            <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>
    </div>


  </div>
</div>