
<div class="profile-state" *ngIf="connectService.userConnected()">
  <img *ngIf="user.images[0]" [src]="user.images[0].url" width="50px" height="50px" alt="">
  <p class="username">{{ user.fullName }}</p>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/showProfile">
        <mat-icon>account_circle</mat-icon>
        <span>My profile</span>
      </button>
      
      <button mat-menu-item routerLink="/setting/userInfoPermissions">
        <mat-icon>settings</mat-icon>
        <span>settings</span>
      </button>
      
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>logout</span>
      </button>
    </mat-menu>
</div>