<app-nav-bar></app-nav-bar>

<div class="context">
 <div class="bar-friend">
  <p class="h4">Friends</p>
  <div class="list">
    <button mat-button routerLink="suggestions" routerLinkActive="active"   class="choice" ><ion-icon name="person-add-outline"></ion-icon><span>Suggestions</span></button>
    <button mat-button routerLink="allFriends" routerLinkActive="active"   class="choice" ><ion-icon name="people-outline"></ion-icon><span>all Friends</span></button>
    <button mat-button routerLink="request"   class="choice" ><ion-icon name="add-outline"></ion-icon><span>Friends Request</span></button>
    <button mat-button routerLink="confirm-friend"  routerLinkActive="active"  class="choice" ><ion-icon name="checkmark-circle-outline"></ion-icon><span>Confirmation</span></button>
    <button mat-button    class="choice"  ><ion-icon name="person-remove-outline"></ion-icon><span>Blockage</span></button>

  </div>
 </div>

 <div class="content" >
  <router-outlet></router-outlet>
 </div>
 
<div class="image-friend">
  <img src="../../../assets/illustration-concept-poignee-main-amicale_114360-6724.jpg" alt="">
</div>

</div>